.card i {
    color: #198754;
}

.card svg {
    width: 2rem; /* Adjust the width as needed */
    height: 2rem; /* Adjust the height as needed */
    fill: #198754; /* This will set the color of the SVG to match the .card i color */
}

button.btn.btn-outline-secondary.btn-sm .table-icon {
    width: 18px;
    height: 18px;
    padding-bottom: 3px;
    fill: #198754;
}