#requirements-chart,
#ojthours-chart {
    width: 100%;
    height: 400px;
    min-height: 400px;
    position: relative;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .card-chart {
        padding: 10px;
    }

    #requirements-chart,
    #ojthours-chart {
        height: 300px;
        min-height: 300px;
    }
}

.dropdown-overlay {
    position: absolute;
    top: 10px; /* Default for larger devices */
    left: 5%;
    transform: translateX(-5%);
    z-index: 10;
    width: auto;
    text-align: center;
}

#requirement-dropdown {
    width: 160px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Media query for smaller devices */
@media (max-width: 768px) {
    .dropdown-overlay {
        top: auto; /* Reset top positioning */
        bottom: 20px; /* Position it below the chart for smaller screens */
        left: 50%;
        transform: translateX(-50%);
    }

    #requirements-chart {
        height: 450px; /* Increase height to accommodate the dropdown */
    }
}

.card i {
    color: #198754;
}

.card svg {
    width: 2rem; /* Adjust the width as needed */
    height: 2rem; /* Adjust the height as needed */
    fill: #198754; /* This will set the color of the SVG to match the .card i color */
}