#requirements-chart {
    width: 100%;
    height: 400px;  /* Ensure a proper height */
    min-height: 400px; /* Ensure a minimum height */
    border: 2px solid red;
}

.card i {
    color: #198754;
}

.card svg {
    width: 2rem; /* Adjust the width as needed */
    height: 2rem; /* Adjust the height as needed */
    fill: #198754; /* This will set the color of the SVG to match the .card i color */
}