.team-section {
    height: 100vh;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.team-member {
    background-color: #fff;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    margin: 15px auto;
    border: 0.5rem solid rgba(0, 0, 0, 0.2);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.team-member:hover {
    transform: translateY(-10px);
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* Image inside the team member card */
.team-member img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Text under each team member */
.text-center {
    margin-top: 15px;
}

.text-center h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.text-center p {
    font-size: 18px;
    color: #6c757d !important;
    margin-bottom: 20px;
}

/* Responsive columns */
@media (max-width: 767px) {
    .team-member {
        width: 150px;  /* Smaller size for smaller screens */
        height: 150px;  /* Smaller size for smaller screens */
    }

    .text-center h3 {
        font-size: 1.2rem; /* Adjust text size for smaller screens */
    }

    .text-center p {
        font-size: 1rem;  /* Adjust text size for smaller screens */
    }
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons .icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #f8f8f8;
    color: #fff;
    font-size: 1.5rem;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.social-icons .icon:hover {
    color: #fff;
    transform: translateY(-5px);
}

.social-icons .instagram {
    background-color: #4a5056;
}

.social-icons .instagram:hover {
    background-color: #d62976;
}

.social-icons .facebook {
    background-color: #4a5056;
}

.social-icons .facebook:hover {
    background-color: #155dbe;
}

.social-icons .gmail {
    background-color: #4a5056;
}

.social-icons .gmail:hover {
    background-color: rgb(219, 42, 26)
}