.list-group-item.active {
    background-color: #198754 !important;
    color: white;
    border: none !important;
}

.form-label {
    display: flex;
    align-items: center;
}

.form-label i {
    width: 24px;
    margin-right: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

span[id^="users-"] {
    display: inline-block;
}