.list-group-item.active {
    background-color: #198754 !important;
    color: white;
    border: none !important;
}

.form-label {
    display: flex;
    align-items: center;
}

.form-label i {
    width: 24px;
    margin-right: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

span[id^="users-"] {
    display: inline-block;
}

.password-dots {
    display: inline;
    font-size: 0.85em; /* Adjust this size as needed */
}

.btn {
    display: inline-flex; /* Ensure the button is always inline-flex */
    align-items: center;  /* Center align items in the button */
}

#oldPasswordFeedback {
    position: absolute;
    top: 5px;   /* Adjust this to move the feedback above the input */
    right: 0;     /* Align the feedback message to the right side */
    font-size: 12px; /* Smaller font size for the feedback */
    font-weight: bold;
}

#passwordFeedback {
    position: absolute;
    top: 195px;  /* Position feedback above the Confirm Password field */
    right: 20px;
    font-size: 12px;
    font-weight: bold;
}