.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Fixed height for the chart container */
    overflow: hidden; /* Prevent overflow of the chart */
}

#users-chart {
    width: 100%;
    height: 100%;
}

.card i {
    color: #198754; /* Set the icon color */
}