/* .custom-container {
    background-color: #f8f9fa;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.header-text {
    margin: 0;
    font-weight: bold;
    color: #6c757d;
    border-bottom: 2px solid #343a40;
    padding-bottom: 10px;
}

.header-subtext {
    color: #6c757d;
    font-size: 1.25rem;
    margin-top: 5px;
}

.square-container {
    min-height: 200px;
}

.rectangle-container {
    min-height: 200px;
} */
