/* 1ST CONTAINER START */
.circle-card {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    font-size: 2rem;
    overflow: hidden;
    background-color: transparent;
}

.circle-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.circle-button {
    border: none;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.circle-button:hover .circle-card {
    transform: scale(1.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.circle-button.active .circle-card {
    transform: scale(1.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
/* 1ST CONTAINER END */

/* 2ND CONTAINER START */
#card-container {
    min-height: 532px;
    position: relative;
    overflow: hidden;
}

/* Card content for each department */
.card-content {
    position: absolute;
    height: 100%;
    background: transparent;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 10px;
    margin-left: 30%;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.2s ease, opacity 0.3s ease;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card-content.active {
    transform: translateX(0); /* Slide in */
    opacity: 1;
}

.card-content.exit {
    transform: translateY(100%); /* Slide down */
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.3s ease;
}

.card-content .card-image {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    border-radius: 9px;
}

@media (max-width: 768px) {
    .card-content {
        width: 80%;
        height: 80%;
        margin-left: 10%;
    }
}

@media (max-width: 576px) {
    .card-content {
        width: 90%;
        height: 70%;
        margin-left: 0;
    }
}
/* 2ND CONTAINER END */

@media (max-width: 768px) {
    .circle-card {
        width: 100px;
        height: 100px;
    }

    .circle-img {
        width: 110px;
        height: 110px;
    }

    #card-container {
        min-height: 400px;
    }
}

@media (max-width: 576px) {
    .circle-card {
        width: 80px;
        height: 80px;
    }

    .circle-img {
        width: 90px;
        height: 90px;
    }

    .card-content {
        width: 95%;
        height: auto;
    }

    #card-container {
        min-height: 250px;
    }
}