* {
  user-select: none;
  -webkit-user-select: none;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
}

#department {
  background-color: #d3c8c888;
}

#company {
  background-color: #adb5bdc3;
}

#about {
  background-color: #c6cfd7e6; /* Medium gray */
}

#contact {
  background-color: #ced4da; /* Darker gray */
}

.custom-logo {
  width: 55%;
}

/* For medium screens (≥768px) */
@media (max-width: 991.98px) {
  .custom-logo {
      width: 90%;
  }
}

/* For small screens (≤575px) */
@media (max-width: 575.98px) {
  .custom-logo {
      width: 100%;
  }
}

.navbar.bg-transparent {
  background: rgba(0, 0, 0, 0.5); /* Slight transparency */
  backdrop-filter: blur(8px); /* Apply blur */
  -webkit-backdrop-filter: blur(8px); /* For Safari compatibility */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Light border at the bottom */
}
