#studentsInfo {
    max-height: 410px; /* Adjust the height as per your requirement */
    padding-right: 8px; /* Ensure it doesn't overlap with scroll */
    overflow-y: auto; /* Add vertical scrolling */
    overflow-x: hidden; /* Hide horizontal scroll */
}

.position-relative {
    position: relative; /* Make sure any child elements are properly positioned */
}

#searchDepartments {
    padding-right: 2.5rem; /* Add space for the search icon */
    padding-left: 0.5rem; /* Adjust the padding to fit your design */
}