/* Default Styles */
.home-section {
  height: 100vh;
  background-image: url('../../img/index/esyatek-bg1.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align content at the bottom */
  text-align: center;
  color: rgb(0, 0, 0);
  position: relative;
  padding-bottom: 20px; /* Add space from bottom */
}

.home-content {
  z-index: 1;
  width: 100%;
  text-align: center;
}

.home-content h1 {
  font-size: 2.3rem; /* Increase font size */
  color: #125f3b; /* Set text color */
  margin-bottom: 5px; /* Add space below heading */
}

.home-content p {
  font-size: 1.5rem; /* Increase font size */
  color: #125f3b; /* Set text color */
  margin-bottom: 5px; /* Add space below paragraph */
}

.home-logo {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  max-width: 75%; /* Adjust the size of the logo */
}

/* Mobile Styles */
@media (max-width: 768px) {
  .home-section {
    flex-direction: column;
    align-items: center; /* Align content at the center for mobile */
    padding-bottom: 0; /* Remove padding-bottom for mobile */
  }

  .home-content {
    padding: 10px; /* Add padding for better spacing */
  }

  .home-content h1 {
    font-size: 1.5rem; /* Adjust font size for mobile */
  }

  .home-content p {
    font-size: 0.8rem; /* Adjust font size for mobile */
  }

  .home-logo {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    max-width: 100%;
    max-height: 80vh;
    width: auto;
    height: auto;
    margin-bottom: 20px; /* Add space below the logo */
  }
}

* {
  user-select: none;
  -webkit-user-select: none;
}
