@media (max-width: 767px) {
    /* Adjust the table header and footer for mobile screens */
    .card-header .d-flex {
        flex-direction: column;
        align-items: stretch;
    }
    .card-header .d-flex .form-select,
    .card-header .d-flex .input-group {
        width: 100%;
        margin-bottom: 0.5rem;
    }
    .card-footer .d-flex {
        flex-direction: column;
        align-items: stretch;
    }
    .card-footer .d-flex #master-lists-tableInfo,
    .card-footer .d-flex nav {
        width: 100%;
        text-align: center;
        margin-bottom: 0.5rem;
    }
    .card-footer .d-flex nav ul.pagination {
        justify-content: center;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.page-item {
    margin: 0 2px;
}

.page-link {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #198754 !important;
    text-decoration: none;
}

.page-item.active .page-link {
    background-color: #198754;
    color: white !important;
    border-color: #198754;
}

.page-item.disabled .page-link {
    color: #6c757d;
}

.page-item.disabled {
    pointer-events: none;
}

button.btn.btn-outline-secondary.btn-sm .table-icon {
    width: 18px;
    height: 18px;
    fill: #198754;
}

.page-link .table-icon {
    width: 15px;
    height: 15px;
    padding-bottom: 3px;
    fill: #198754;
}

.stud-ojthoursModal {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
}
  
.ojthours-modal-content {
    position: relative;
    width: 100%;
    height: 100%;
    /* background: transparent !important; */
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    padding: 0 !important;
}
  
.ojthours-modal-content iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.ojthours-modal-content img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    margin: auto;
    background-color: #f4f4f42b;
}
  
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff; /* White color for the close button */
    cursor: pointer;
    z-index: 1001; /* Ensure the close button is always on top */
}

.svg-icon {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    vertical-align: -0.125em;
    fill: currentColor;
}