.file-preview {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.file-icon {
  font-size: 24px;
  margin-right: 10px;
}

.file-details {
  flex-grow: 1;
}

.file-name {
  margin: 0;
  font-weight: bold;
}

.file-date {
  margin: 0;
  color: #777;
  /* color: #c7312c; */
  font-size: 12px;
}

.file-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px; /* Adjust as necessary */
}

.position-relative {
  position: relative;
}