.position-relative {
    position: relative;
}

.reportModal {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
}
  
.report-modal-content {
    position: relative;
    width: 100%;
    height: 100%;
    /* background: transparent !important; */
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    padding: 0 !important;
}
  
.report-modal-content iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.report-modal-content img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    margin: auto;
    background-color: #f4f4f42b;
}
  
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff; /* White color for the close button */
    cursor: pointer;
    z-index: 1001; /* Ensure the close button is always on top */
}

.svg-icon {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    vertical-align: -0.125em;
    fill: currentColor;
}

.file-details-container {
    display: inline-block; /* Wraps file details as a single unit */
    max-width: 200px; /* Set the maximum width for the entire block */
    text-align: left;
}

.file-name {
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden;    /* Hide overflowing text */
    text-overflow: ellipsis; /* Add an ellipsis for overflowing text */
    max-width: 200px;    /* Set a maximum width for the file name */
    margin: 0;           /* Reset margin */
}

.file-size {
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden;    /* Hide overflowing text */
    text-overflow: ellipsis; /* Add an ellipsis */
    max-width: 200px; /* Match width of file name */
    margin: 0;         /* Reset margin */
    font-size: 0.85em; /* Slightly smaller font size */
    color: gray;
    display: block;    /* Ensure this appears below the file name */
    margin-top: 2px;   /* Add slight spacing below the file name */
}

.report-card:hover {
    transition: background-color 0.3s ease;
    cursor: pointer; /* Change cursor to hand */
    background-color: #f4f4f4df; /* Light gray background on hover */
}

.card .dropdown {
    margin-left: auto; /* Ensures dropdown aligns to the far-right */
    position: relative; /* Keeps the dropdown positioning relative to its container */
}

.card .dropdown svg {
    vertical-align: middle; /* Centers the SVG vertically */
    cursor: pointer;
}

.report-dropdown-menu {
    max-width: 200px; /* Limit dropdown width */
    margin-top: 30px !important; /* Add space between the toggle icon and dropdown */
    overflow: hidden;
    position: absolute;
    transform: translate3d(0px, 0px, 0px) !important; /* Prevent auto placement issues */
}

.report-dropdown-menu.dropdown-menu-end {
    left: auto !important; /* Ensure right-side alignment */
    right: 0 !important;
}

.card {
    overflow: visible; /* Ensure the dropdown doesn't clip with card's boundary */
    position: relative;
}

.dropdown-icon {
    position: relative;
    cursor: pointer;
    border-radius: 50%; /* Make it circular */
    padding: 6px; /* Add padding for circle effect */
    transition: background-color 0.3s ease;
}

.dropdown-icon:hover {
    background-color: #dcdcdc; /* Light gray background */
}
